@import "tailwindcss";

@theme {
  --color-speed-red: #D63230;
  --color-speed-white: #EFEFEF;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#EFEFEF] text-black antialiased;
    margin: 0;
  }
}